<div class="arrow-nav-bg">
  <div class="arrow-nav me-auto ms-auto d-flex justify-content-start align-items-center">
    <ul class="d-flex justify-content-center mb-0 ">
      <li><a href="">Home</a></li>
      <li><span class="px-3">›</span><a href="">categoryName</a></li>
    </ul>
  </div>
</div>