<footer class="border-top pt-2">

  <div class="row gx-0 py-2">

    <div class="col-6 pe-1">
      <div class="d-flex justify-content-end pe-4">
        <a class="px-4" href="">
          <i class="bi bi-facebook socials-item"></i>
        </a>
        <a class="px-4" href="">
          <i class="bi bi-instagram socials-item"></i>
        </a>
        <a class="px-4" href="">
          <i class="bi bi-snapchat socials-item"></i>
        </a>
      </div>
    </div>

    <div class="col-6 d-flex align-items-center">
      <div class="d-flex justify-content-start">
        <div class="px-3 ps-5 border-start "><img class="payment-item" src=" https://images.asos-media.com/navigation/visa-png" alt=""></div>
        <div class="px-3"><img class="payment-item" src="https://images.asos-media.com/navigation/american-express-png" alt=""></div>
        <div class="px-3"><img class="payment-item" src="https://images.asos-media.com/navigation/mastercard-png" alt=""></div>
        <div class="px-3"><img class="payment-item" src="https://images.asos-media.com/navigation/visa-electron-png" alt=""></div>
      </div>
    </div>

  </div>

  <div class="row p-5 gx-0 footer-links">
    <div class="col-2 offset-2 d-flex flex-column">
      <div>
        <p class="footer-links-header fw-bolder">HELP & INFORMATION</p>
      </div>
      <div class="d-flex flex-column footer-links-container">
        <a href="">Help</a>
        <a href="">Track order</a>
        <a href="">Delivery & returns</a>
      </div>
    </div>
    <div class="col-2">
      <div>
        <p class="footer-links-header fw-bolder">ABOUT ASOS</p>
      </div>
      <div class="d-flex flex-column footer-links-container">
        <a href="">About us</a>
        <a href="">Careers at ASOS</a>
        <a href="">Corporate responsibility</a>
        <a href="">Investors' site</a>
      </div>
    </div>
    <div class="col-2">
      <div>
        <p class="footer-links-header fw-bolder">MORE FROM ASOS</p>
      </div>
      <div class="d-flex flex-column footer-links-container">
        <a href="">Mobile and ASOS apps</a>
        <a href="">ASOS Marketplace</a>
        <a href="">Gift vouchers</a>
        <a href="">Black Friday</a>
      </div>
    </div>
    <div class="col-2">
      <div>
        <p class="footer-links-header fw-bolder">SHOPPING FROM:</p>
      </div>
      <div class="d-flex flex-column footer-links-container">
        <a href=""> You're in CT <span class="fw-bold footer-links-country">| CHANGE</span></a>
      </div>
    </div>
  </div>

  <div class="footer-terms">
    <div class="footer-terms-wrapper border-top d-flex justify-content-between align-items-center me-auto ms-auto">
      <p class="my-0">&copy; 2022 EYLON</p>
      <ul class="footer-terms-links d-flex justify-content-center align-items-center my-0">
        <li href=""><a href="">Privacy & Cookies</a></li>
        <li class="" href=""><a href="">Ts&Cs</a></li>
        <li href=""><a href="">Accessibility</a></li>
      </ul>
    </div>
  </div>


</footer>