<div class="row g-0">
  <div class="col-6 d-flex promotion--light justify-content-end px-0">
    <a class="text-decoration-none w-75 text-center" href=""><span>UP TO 30% OFF NEW-SZN LOOKS!</span></a>
  </div>
  <div class="col-6 d-flex justify-content-start promotion--dark px-0">
    <a class="text-decoration-none w-75 text-center" href=""><span>FREE WORLDWIDE DELIVERY!</span></a>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center promotion--light border-top pb-1 mb-5">
  <a href="" class="text-decoration-none w-75 text-center">
    <span class="fs-2 fw-bolder fst-italic">
      UP TO 30% OFF NEW-SZN LOOKS!
    </span>
  </a>
  <span class="promotion-terms">
    Limited time only. Selected styles marked down as shown.
  </span>
</div>