.product-bg {
  background-color: #fff;
}
.product-warpper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.product-main-image-carousel {
  max-width: 512px;
  max-height: 653px;
}

/* side images */
.product-side-images {
  width: 80px;
  height: 653px;
  position: relative;
}
.product-side-images-list {
  list-style-type: none;
  position: absolute;
  top: 20px;
}
.product-side-images-list:last-child {
  position: absolute;
  bottom: 20px;
}
.product-side-images-list:last-child button {
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
}
/* product info */
.product-info {
  max-width: 300px;
}
.product-title p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.3;
}
.product-price p {
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 2.8px;
  font-weight: 700;
  color: #555;
}
