.arrow-nav-bg {
  background-color: #fff;
}
.arrow-nav {
  max-width: 1366px;
  height: 50px;
}
.arrow-nav > ul {
  list-style-type: none;
}
.arrow-nav > ul li a {
  text-decoration: none;
  color: #2d2d2d;
  font-size: 0.875rem;
}
