/* wrappers */
.category-banner-wrapper {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
.category-buttons-wrapper {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}
.category-desc-wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* banner and text */
.category-banner-bg {
  background-color: #f8f8f8;
}
.category-desc-bg {
  background-color: #f8f8f8;
}
.category-buttons-bg {
  background-color: #fff;
}
/* buttons */
.category-buttons-bg {
  color: #fff;
}
.category-buttons-wrapper > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-buttons {
  background-color: #eee;
  color: #2d2d2d;
  font-size: 0.75rem;
  font-weight: 900;
  padding: 9px 15px;
  transition: none;
  letter-spacing: 1.7px;
  line-height: 10px;
}
.category-buttons:hover {
  background-color: #d2d2d2;
}
/* drop down menu */
.ddm-toggle {
  width: 200px;
  height: 42px;
  text-align: start;
}

.ddm-toggle > div p::after {
  content: url(../images/caret-down.svg);
  height: 16px;
  width: 16px;
}
.ddm-container {
  width: 356px;
  background-color: #f8f8f8;
}

.ddm-list {
  background-color: #eee;
  margin-bottom: auto;
  height: 275px;
}

.ddm-list ul li {
  margin-bottom: 8px;
}

.ddm-list ul {
  padding: 10px;
  list-style-type: none;
}

.ddm-list ul li label {
  cursor: pointer;
  background-color: #fff;
  width: 292px;
  height: 44px;
  border-radius: 5px;
  vertical-align: baseline;
}

.ddm-list ul li input {
  display: none;
}
