.landing-image-text {
  color: white;
  font-size: 3.5rem;
  position: absolute;
  top: 65%;
}

.landing-image-subtext {
  position: absolute;
  top: 85%;
  background-color: white;
  padding: 0.575rem 0.875rem;
  letter-spacing: 0.2rem;
  color: black;
}

.landing-image {
  width: 66%;
}

.image-container {
  width: 66%;
}

.image-container-text {
  color: black;
}

.image-container-text:hover {
  color: inherit;
}

.dual-image {
  width: 52.5%;
}

.dual-image-subtext {
  letter-spacing: 0.05rem;
}

.dual-image-shopbtn:hover {
  background-color: black;
  color: white;
  transition: ease-in 0.2s;
}

.brand-image-item {
  width: 15%;
}

#brand-image-container:hover > * {
  opacity: 0.5;
  transition: ease-in 0.5s;
}

#brand-image-container:hover > *:hover {
  opacity: 1;
  transition: ease-in 0.5s;
}

/* footer css */
.payment-item {
  width: 2rem;
  height: 1.25rem;
}

.socials-item {
  font-size: 1.9rem;
}
