.landing-image-text {
  color: white;
  font-size: 3.5rem;
  position: absolute;
  top: 65%;
}

.landing-image-subtext {
  position: absolute;
  top: 85%;
  background-color: white;
  padding: 0.575rem 0.875rem;
  letter-spacing: 0.2rem;
  color: black;
}

.landing-image {
  width: 66%;
}
