body {
  margin: 0;
  padding: 0;
}
.landing-image-text {
  color: white;
  font-size: 3.5rem;
  position: absolute;
  top: 65%;
}

.landing-image-subtext {
  position: absolute;
  top: 85%;
  background-color: white;
  padding: 0.575rem 0.875rem;
  letter-spacing: 0.2rem;
  color: black;
}

.landing-image {
  width: 66%;
}

.image-container {
  width: 66%;
}

.image-container-text {
  color: black;
}

.image-container-text:hover {
  color: inherit;
}

.dual-image {
  width: 52.5%;
}

.dual-image-subtext {
  letter-spacing: 0.05rem;
}

.dual-image-shopbtn:hover {
  background-color: black;
  color: white;
  transition: ease-in 0.2s;
}

.brand-image-item {
  width: 15%;
}

#brand-image-container:hover > * {
  opacity: 0.5;
  transition: ease-in 0.5s;
}

#brand-image-container:hover > *:hover {
  opacity: 1;
  transition: ease-in 0.5s;
}

/* footer css */
.payment-item {
  width: 2rem;
  height: 1.25rem;
}

.socials-item {
  font-size: 1.7rem;
}
/* links */
.footer-links {
  background-color: #eee;
}
.footer-links-container > a {
  text-decoration: none;
  color: #666;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  line-height: 30px;
}
.footer-links-header {
  color: #666;
  letter-spacing: 0.05rem;
}
.footer-links-country {
  font-size: 0.9rem;
}
/* terms */
.footer-terms {
  background-color: #ddd;
}
.footer-terms-wrapper {
  max-width: 1366px;
  height: 50px;
}
.footer-terms-links {
  list-style-type: none;
  color: #2d2d2d;
}

.footer-terms-links li a {
  text-decoration: none;
  padding: 14px 0px;
  font-size: 0.7rem;
  color: #2d2d2d;
}

.footer-terms-links li:nth-child(2)::before,
.footer-terms-links li:nth-child(2)::after {
  content: '|';
  display: inline;
  padding: 0px 5px;
  font-weight: 300;
}
