.navbar-icons-color {
  color: white;
  font-size: 1.5rem;
}

.navbar-margin {
  margin-left: 3%;
  margin-right: 3%;
}

.form-width {
  width: 35%;
}

.navbar-item:hover {
  background-color: #474747;
}

#navbar .category--active {
  background-color: #525050;
}

.subbar-color {
  background-color: #525050;
}

#subbar .subbar-item:hover {
  background-color: #eee;
  color: black;
}
