/* wrappers */
.category-banner-wrapper {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
.category-buttons-wrapper {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}
.category-desc-wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.ddm-wrapper {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
.products-wrapper {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
/* banner and text */
.category-banner-bg {
  background-color: #f8f8f8;
}
.category-desc-bg {
  background-color: #f8f8f8;
}
.category-buttons-bg {
  background-color: #fff;
}
.ddm-bg {
  background-color: #eee;
}
/* pill buttons */
.category-buttons-bg {
  color: #fff;
}
.category-buttons-wrapper > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-buttons {
  background-color: #eee;
  color: #2d2d2d;
  font-size: 0.75rem;
  font-weight: 900;
  padding: 9px 15px;
  transition: none;
  letter-spacing: 1.7px;
  line-height: 10px;
}
.category-buttons:hover {
  background-color: #d2d2d2;
}
/* drop down menu */
.dropdown {
  padding: 0 23px;
}
.ddm-toggle {
  width: 200px;
  height: 42px;
  text-align: start;
  margin: 8px 20px 8px 0;
}

.dropdown button div .arrow-icon {
  transform: translateY(-2px) rotate(180deg);
}

.ddm-container {
  width: 356px;
  background-color: #f8f8f8;
}

.ddm-list {
  background-color: #eee;
  margin-bottom: auto;
  height: 275px;
}

.ddm-list ul li {
  margin-bottom: 8px;
}

.ddm-list ul {
  padding: 10px;
  list-style-type: none;
}

.ddm-list ul li label {
  cursor: pointer;
  background-color: #fff;
  width: 292px;
  height: 44px;
  border-radius: 5px;
  vertical-align: baseline;
}

.ddm-list ul li input {
  display: none;
}

/* products */

.products-bg {
  background-color: #fff;
}
.product {
  gap: 0.75rem;
}
.product-container {
  width: 317px;
  height: 505px;
  text-decoration: none;
}
.product-img {
  position: relative;
  margin-bottom: 9px;
}
.product-img-heart {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: none;
}
.product-desc {
  color: #2d2d2d;
  font-weight: 400;
  font-size: 0.875rem;
}
.product-price {
  color: #666;
  font-size: 0.875rem;
}
