<div class="d-flex flex-column justify-content-center align-items-center promotion--light border-top pb-1 mb-5">
  <a href="" class="text-decoration-none w-75 text-center">
    <span class="fs-2 fw-bolder fst-italic">
      UP TO 30% OFF NEW-SZN LOOKS!
    </span>
  </a>
  <span class="promotion-terms">
    Limited time only. Selected styles marked down as shown.
  </span>
</div>